* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: rgb(255, 255, 255);
}
section{
    height: 70vh;
    margin-top: 50px;
}
.menu {
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

#button {
    display: flex;
    justify-content: center;
}

#button li {
    display: inline;
    position: relative;
}

#button li a {
    justify-content: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    color: rgb(0, 0, 0);
}

#button li a:hover {
    background-color: rgb(0, 0, 0);
    border-radius: 20px 10px;
    color: rgb(255, 255, 255);
}

.information {
    background: rgb(255, 255, 255);
    text-align: center;
    height: 70vh;
}

.information h2 {
    margin: 40px 5px 10px 5px;
    text-align: center;
}

.information img {
    height: 340px;
    width: 200px;
    margin-top: 50px;
}
.personal-information {
    margin: 20px 300px 20px 300px;
    text-align: justify;
    
}

.skills-div {
    margin-top: 80px;
    position: relative;
}

.skills-title {
    text-align: left;
    margin-left: 300px;
}
.img img{
    height: 130px ; 
    margin: 0 20px 0 20px;
}



.img {
    position: relative;
    margin: 200px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.contact-title {
    text-align: left;
    margin-left: 300px;
}

.contact-icon {
    margin: 40px 0 20px 0;
    
    
}

.icons {
    margin: 40px 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
