* {
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
   
    
}

body {
    height: 100%;
    margin: 0;
    background: cadetblue;
    
}



.section1{
    
    height: 100vh;
    background: black;
    padding-top: 2rem;
}

.info{
        /* padding-top: 50px; */
        margin: 10% auto;
        flex-grow: 1;
        position: relative;
        width: 80%;
        /* color: white; */
        background: white;
        text-align: center;
}

.info h1{
    font-size: 60px;
    
}









.information {

    text-align: center;
    height: 100%;

}

.information h2 {
    
    text-align: center;
}

.information img {
    height: 340px;
    width: 200px;
    margin-top: 50px;
}
.personal-information {
    margin: 20px 300px 20px 300px;
    text-align: justify;
    
}

.skills-div {
    margin-top: 80px;
    position: relative;
}

.skills-title {
    text-align: left;
    margin-left: 300px;
}
.container_img img{
    height: 130px ; 
    margin: 0 20px 0 20px;
    place-self: center;
}



.container_img {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 150px 150px 150px;
    grid-template-areas:
     ". java java . "
     " . html css ."
     ". sql sql ."
     
     ;
     justify-items: center;
     justify-content: center;
     column-gap: 50px;
     row-gap: 20px;
     
}

.contact-title{
    text-align: left;
    margin-left: 300px;
}

.contact-icon {
    margin: 40px 0 20px 0;
    
    
}

.icons {
    margin: 40px 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
 .java_img{
     grid-area: java;
 }
 .html_img{
     grid-area: html;

 }
 .css_img{
     grid-area: css;

 }
 .sql_img{
     grid-area: sql;
 }